.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
  }


  .pagination2 {
    display: inline-block;
  }
  
  .pagination2 a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
  }


  .pagination2 a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .pagination2 a:hover:not(.active) {
    background-color: #ddd;
}